html {
  scroll-behavior: smooth;
}

.App{
  width: 100%;
  font-family: 'ProximaNova';
}

.large12{
  width: 100%;
}

.large8{
  width: 66.66667%;
}

.large4{
  width: 33.33333%;
}

*{
  position: relative;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}