@font-face {
  font-family: 'Sacramento';
  src: local('Sacramento'), url(./assets/fonts/Sacramento/Sacramento-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(./assets/fonts/Proxima_Nova_Font.otf) format('truetype');
}
