   .topIcon {
       position: absolute;
       top: -25px;
       background: #ff6f68;
       font-size: 30pt;
       width: 47px;
       height: 50px;
       line-height: 40pt;
       left: 0;
       right: 0;
       margin: 0 auto;
       cursor: pointer;
       transition: background .5s;
       color: #ffffff;
       text-align: center;
   }

   .down {
       font-size: 10pt;
       color: #8F9AA7;
       margin-top: 35px;
       opacity: 0.6;
       text-align: center;
   }

   i {
       color: #ffffff !important;
   }

   .container {
       background: #1B242F;
       padding: 70px 0 50px 0;
       position: relative;
       display: flex;
       align-items: center;
       place-content: center;
       width: 100%;
   }

   .top {
       display: inline-block;
       width: 100%;
   }

   .social {
       overflow: hidden;
       transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
       cursor: pointer;
       width: 55px;
       height: 55px;
       position: relative;
       text-align: center;
       margin: 0 15px;
       background: #262F38;
       font-size: 18pt;
       float: left;
       display: flex;
       align-items: center;
       place-content: center;
       text-decoration: none;
   }

   .social:hover {
       background: #04C2C9;
       box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
       transform: scale(0.9);
   }

   .curve {
       background: #252934;
       height: 175px;
       width: 100%;
       border-top-left-radius: 50% 20%;
       border-top-right-radius: 50% 20%;
   }