@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
 
.filterWrapper{
    height: 30px;
    display: flex;
    align-items: center;
    place-content: center;
    margin: 20px 0;
}

.filter{
    text-transform: capitalize;
    float: left;
    margin: 0 15px;
    padding: 10px;
    color: #242427;
    cursor: pointer;
    font-weight: 600;
    transition: background-color .5s;
}

.selectedFilter{
    background-color: #ff6f68;
    color: #fff;
    box-shadow: 3px 3px 10px #0d0c0d;
}

.gridContainer{
    width: 100%;
    display: inline-block;
}

.project{
    width: calc(25% - 10px);
    float: left;
    height: 300px;
    box-shadow: 2px 2px 10px;
    position: relative;
    opacity: 0;
    margin: 5px;
}

.card{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.text{
    font-size: 16pt;
    font-family: bold;
    text-align: center;
}

.techHighLight{
    color: #ff6f68;
    text-transform: capitalize;
    text-align: center;
}

.project:hover .hoverContent{
    opacity: 1 !important;
}

.hoverContent{
    transition: opacity 0.5s linear;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
}