.wrapper{
    height:300px;
    background-color: #ff6f68;
    border: 2px solid #ffdbdb;
}

.heading{
    text-align: center;
    font-size: 55px;
    color: #838383;
}

.quotesImgWrapper{
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
}

.quotesImg{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    height:100%;
    width: 100%;
    border: 2px solid #fff !important;
}

.quoteString{
    color:#fff;
    font-family: serif;
    font-style: italic;
    font-size: 32px;
}